@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v17/jizaRExUiTo99u79P0U.ttf) format('truetype');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v17/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXNig.ttf) format('truetype');
}

/* font-family: 'PT Sans', sans-serif; */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
input,
label,
video,
button {
  padding: 0;
  margin: 0;
  font-size: inherit;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  background-color: #F2F2F2;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a,
a:focus,
a:active,
button,
button:active,
button:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  border: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  max-width: 666px;
  margin: 0 auto;
  padding: 10px;
}

.form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-block__signup {
  position: relative;
  min-width: 138px;
  background-color: #5a61ed;
}

.form-block__signup-title {
  position: absolute;
  bottom: 70px;
  right: -42px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 49px;
  line-height: 63px;
  color: #ffffff;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 162px;
}

/* Form */

.form {
  background-color: #ffffff;
  padding: 39px 22px 33px;
}

.form__title {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.46px;
  color: #111111;
}

.form__text {
  line-height: 16px;
  color: #111111;
  margin-bottom: 20px;
}

.form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.form__input-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 235px;
  width: 100%;
}

.form__input-item:first-child {
  margin-right: 13px;
}

.form__label-item {
  font-size: 12px;
  line-height: 14px;
  color: #7c7c7c;
}

.input-item {
  outline: none;
  border: none;
  border-bottom: 1px solid #f2f2f2;
  padding: 5px 10px 6px 0;
}

.input-item:focus {
  border-bottom: 2px solid #cec8c8;
}

.select-item {
  cursor: pointer;
}

.form__date-radio {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__inputs-date {
  margin-right: 13px;
}

.form-radio__block {
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__input-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form__input-radio:first-child {
  margin-right: 19px;
}

.form__label-gender {
  line-height: 16px;
  color: #111111;
}

.input-radio {
  margin-right: 6px;
}

.form__label-gender,
.input-radio {
  cursor: pointer;
}

.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 98px;
}

.form-footer__text {
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}

.form-footer__text-link {
  font-size: 13px;
  line-height: 15px;
  color: #5a61ed;
  text-decoration: underline;
  margin-left: 5px;
}

.form-footer__text-link:hover {
  text-decoration: none;
}

.form-btn {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background: #5a61ed;
  border: 0.5px solid #ffffff;
  padding: 7px 26px;
  cursor: pointer;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.form-btn:hover {
  background: #080d5d;
}

@supports (-webkit-appearance:none) {

}

@media (max-width: 700px) {
  .form__inputs {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .form__date-radio {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

@supports (-webkit-appearance:none) {

}
}