.header {
	color: rgb(28, 218, 110);
	display: flex;
}

.text {
	text-decoration: underline;
	color: blue;
}

@media (max-width: 700px) {
	.text {
		text-decoration: line-through;
		color: rgb(255, 0, 0);
		/* color: #cfc7c7; */
	}
}
